apiVersion: v1
kind: Service
metadata:
  name: {{ include "fluentd.fullname" . }}
spec:
  type: ClusterIP
  selector:
    app: {{ include "fluentd.name" . }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
